*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #8790af;
}

.bg{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: linear-gradient(rgba(62,61,61,0.5), rgba(104,103,103,0.5)), url(assets/blood-cells-in-vein_for-web.jpg);
    padding: 20px;
    background-size: cover; 
    height: 100vh;
    background-position: center;
}


li, a {
    list-style: none;
    text-decoration: none;
     display: inline-block;
     /* margin-right: 20px; */
     font-weight: bold;
     padding: 8px;
     font-family: 'Times New Roman', Times, serif;
     color: #ffffff;
}

ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}


.top-items {
display: flex;
justify-content: space-between;
align-items: center;
}


.header-text{ 
    text-align: center;
    color: rgb(242, 241, 241);
    padding: 120px 0 30px 0;
    width: 50%;
    margin: auto;
}


 .span{
    font-family: cursive;
    color: #eb190a;
    font-size: 43px;
    font-weight: 700;
 }



 .header-text p{ 
    font-size: 13px;
 }



.icon{
    font-family: cursive;
    font-weight: bold;
    color: greenyellow;
}



.about-section{
    padding-top: 120px;
    padding-bottom: 120px;
}



.about-text{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    margin: auto;
    line-height: 22px;
    text-align: center;
}


.about-text h3{
    padding: 12px;
    font-size: 18px;
}


.btn {
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #b1ccdf;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }


  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



  /* .new-item{
    padding-top: 120px;
    padding-bottom: 120px;
}



.new-item-text{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    margin: auto;
    line-height: 22px;
    text-align: center;
}


.new-item-text h3{
    padding: 12px;
    font-size: 18px;
} */

.new-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: rgb(112, 161, 159);
}

.new-item-text {
    padding: 50px;
    color: white;
}

.text{
    text-align: left;
    padding: 10px 0;
}

.text h3{
    padding: 14px 0;
    color: #061213;
}

img {
    width: 100%;
    height: auto;
}


/* for service */
.service-items  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;

    }

.services {
    padding: 50px 30px;
    text-align: center;
}

.service-items {
    color: #061213;
}

/* for product */

.Products {
    padding: 50px 30px;
    text-align: center;
}

.product-items {
    color: #061213;
    /* background-color: rgb(229, 241, 241); */
    padding-bottom: 30px;

}

.product-items  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;

    }

/* footer {
    text-align: center;
    color: black ;

    padding-bottom: 50px;
} */

hr{
    color: #061213;
    border-radius: 30px;
    text-decoration: solid;
}

.Our Team {
    padding: 50px 30px;
    text-align: center;
}

.team-items {
    color: #061213;
    /* background-color: rgb(229, 241, 241); */
    padding-bottom: 30px;

}

.team-items  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;

    }
